name: Build and Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    env:
      NODE_OPTIONS: "--max-old-space-size=4096"
      MAIN_VITE_GITHUB_CLIENT_ID: ${{ secrets.MAIN_VITE_GITHUB_CLIENT_ID }}
      MAIN_VITE_GITHUB_CLIENT_SECRET: ${{ secrets.MAIN_VITE_GITHUB_CLIENT_SECRET }}
      MAIN_VITE_GITHUB_REDIRECT_URI: ${{ secrets.MAIN_VITE_GITHUB_REDIRECT_URI }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Check out git repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "npm"

      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3 libudev-dev

      - name: Install Dependencies
        run: npm ci

      - name: Run Typecheck
        run: npm run typecheck

      - name: Package Electron App (Windows)
        if: runner.os == 'Windows'
        run: npm run build:win -- --publish always

      - name: Package Electron App (macOS)
        if: runner.os == 'macOS'
        run: npm run build:mac -- --publish always

      - name: Package Electron App (Linux)
        if: runner.os == 'Linux'
        run: npm run build:linux -- --publish always

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          draft: false
          prerelease: false
